.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;

}
.images > img{
    vertical-align: top;
}
.window{
    width: 450px;
    overflow: hidden;
}

.red{
    color: red;
}
