*{margin:0;padding:0;}
*{box-sizing: border-box;}

.window{
    width: 450px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    position: relative;
}
.images > img{
    width: 100%;
    transition: all 1500ms;
    position: absolute;
    top: 0;
}

.images > img.current{
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.images > img.leave{
    transform: translateX(-100%);
    z-index: 1;
}
.images > img.enter{
    transform: translateX(100%);
}