*{margin:0;padding:0;}
*{box-sizing: border-box;}
.container{
    width: 450px;
    height: 300px;
    margin: 20px auto;
}

.window{
    width: 450px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    display: flex;
    transition: all 0.5s;
}
.images > img{
    width: 100%;

}
